
.student-section{
    width: 80%;
    margin: 25px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
}
.student-section-div{
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.logo-comp{
    width: 30%;
}
.logo-comp1{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.student-text-logo{
width:100%;
margin:auto;
padding: 10px;
border-radius: 15px;

}
.student-text-logo .text-student-name{
    margin-top: 20px;
    font-size: 20px;

}
