.carouselHolder {
    /* border: 2px solid rgb(23, 4, 75); */
    height: 200px;
    width: 100%;
  }
  
  @media screen and (min-width: 100px) and (max-width: 799px) {
    .carouselHolder {
      display: none;
    }
  }

