*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    height: 80px;
    cursor: pointer; 
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(55, 231, 7, 0.797) 0px 3px 8px;
}
#navbar a{
    text-decoration: none;
    color: rgb(124, 123, 123);
}
#navbar p:hover{
    text-decoration: underline;
    color: black;
}
#nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
#nav1>img{
    border-radius: 50px;
    width:80px;
}
#nav2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    
}