*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    box-shadow: rgb(233, 6, 172) 0px 5px 15px;
    
}
.navbar>a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.navbar>a:hover{
    color: blue;
    text-decoration: underline;
}
